body {
    font-family: 'Salsa', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #000; /* Set text color to black */
    overflow: hidden;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.heading {
    color: #000; /* Set text color to black */
    font-weight: bold;
    font-size: 36px; /* Adjust font size as needed */
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.question-container {
    font-size: 24px; /* Adjust font size as needed */
    margin-bottom: 15px;
    color: #000; /* Set text color to black */
    font-weight: bold;
}

.options-container label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px; /* Adjust font size as needed */
    color: #000; /* Set text color to black */
    font-weight: bold;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.result-container {
    font-size: 18px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    display: none;
}

.correct {
    color: #fff;
    background-color: #4caf50;
}

.incorrect {
    color: #fff;
    background-color: #ff5555;
}

/* Media query for screens with a maximum width of 600px */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }

    form {
        padding: 10px;
    }

    .question-container {
        font-size: 16px;
    }

    .options-container label {
        font-size: 14px;
    }

    button {
        padding: 8px 12px;
    }

    .result-container {
        font-size: 16px;
        padding: 8px;
        margin-top: 10px;
    }
}
